@import "tailwindcss";
:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  font-family: var(--font-poppins);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-roboto {
  font-family: var(--font-roboto);
}
